{{- $systemUser := promptString "system user" -}}
{{- $gitName := promptString "git name" -}}
{{- $gitEmail := promptString "git email" -}}
{{- $contentfulManagementToken := promptString "contentful management token" -}}

[data.system]
	user = {{ $systemUser | quote }}

[data.git]
	name = {{ $gitName | quote }}
	email = {{ $gitEmail | quote }}

[data.tokens]
	contentful = {{ $contentfulManagementToken | quote }}

[data.aliases]

	[data.aliases.directories]
    dev ='~/Development'

	[data.aliases.ssh]
		sshalias = 'ssh'
