{{- $gitName := promptStringOnce . "git.name" "Git author name" -}}
{{- $gitEmail := promptStringOnce . "git.email" "Git author email" -}}
{{- $consumeModes := list "local" "remote" -}}
{{- $consumeMode := promptChoiceOnce . "consume.mode" "Consume execution mode" $consumeModes "local" -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data.git]
    name = {{ $gitName | quote }}
    email = {{ $gitEmail | quote }}

[data.aliases.directories]
    dev = "~/Development"

[data.aliases.ssh]

[data.consume]
    mode = {{ $consumeMode | quote }}
