{{- $systemUser := promptString "system user" -}}
{{- $gitName := promptString "git name" -}}
{{- $gitEmail := promptString "git email" -}}

[data.system]
	user = {{ $systemUser | quote }}

[data.git]
	name = {{ $gitName | quote }}
	email = {{ $gitEmail | quote }}

[data.aliases]

	[data.aliases.directories]
    alias = ''

	[data.aliases.ssh]
		alias = ''
