[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
[alias]
	a = add
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	c = commit -m
	ca = commit -am
	co = checkout
	cob = checkout -b
	conf = config --global -l
	d = diff
	dv = difftool -t vimdiff -y
	fl = log -u
	graph = log --oneline --graph --decorate
	l = log
	last = log -1 HEAD --stat
	ll = log --oneline
	pd = push origin develop
	pm = push origin master
	r = reset
	s = status
	se = !git rev-list --all | xargs git grep -F
	undo = reset --soft HEAD~1
