[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
[alias]
	a = add
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	c = commit -m
	ca = commit -am
	co = checkout
	cob = checkout -b
	cod = checkout develop
	com = checkout master
	conf = config --global -l
	cos = checkout staging
	d = diff
	dv = difftool -t vimdiff -y
	fl = log -u
	graph = log --oneline --graph --decorate
	l = log
	last = log -1 HEAD --stat
	ll = log --oneline
	phd = push origin develop
	phm = push origin master
	phs = push origin staging
	pld = pull origin develop
	plm = pull origin master
	pls = pull origin staging
	r = reset
	s = status
	se = !git rev-list --all | xargs git grep -F
	undo = reset --soft HEAD~1
[core]
	excludesfile = /Users/{{ .system.user }}/.gitignore
