# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."

# Directory Aliases
{{ range $key, $value := .aliases.directories -}}
alias {{ $key }}='cd {{ $value }}'
{{ end }}

# SSH Aliases
{{ range $key, $value := .aliases.ssh -}}
alias {{ $key }}='ssh {{ $value }}'
{{ end }}

# Open Browsers
alias ff='open -a Firefox'
alias chr='open -a Google Chrome'
alias saf='open -a Safari'

# Close Browsers
alias qff="osascript -e 'quit app "'"Firefox"'"'"
alias qchr="osascript -e 'quit app "'"Google Chrome"'"'"
alias qsaf="osascript -e 'quit app "'"Safari"'"'"

# Run Python Simple Server
alias pyserve='python -m SimpleHTTPServer'

# Clear terminal
alias c='clear'

# Reload shell
alias reload="exec ${SHELL} -l ; . ~/.zshrc"

# Laravel
alias sail='bash vendor/bin/sail'

# PostgreSQL
alias pgstart='brew services start postgresql'
alias pgstop='brew services stop postgresql'
alias pgrestart='brew services restart postgresql'
alias pgstatus='brew services list | grep postgres'

# Rails
alias rc='rails console -e development'
alias rdbm='rails db:migrate RAILS_ENV=development'
alias rdbrp='rails db:seed:replant'
alias rdbr='rails db:reset'
