# Browsers
alias ff='open -a Firefox'
alias chr='open -a Google Chrome'
alias saf='open -a Safari'
alias qff="osascript -e 'quit app "'"Firefox"'"'"
alias qchr="osascript -e 'quit app "'"Google Chrome"'"'"
alias qsaf="osascript -e 'quit app "'"Safari"'"'"

# Chezmoi
alias cz='chezmoi'
alias cza='chezmoi apply'
alias czc='chezmoi cd'
alias czi='chezmoi init'

# Directory Aliases
{{ range $key, $value := .aliases.directories -}}
alias {{ $key }}='cd {{ $value }}'
{{ end }}

# Docker
alias dcu='docker-compose up'
alias dic='docker inspect'
alias dla='docker ps -a'
alias dpa='docker system prune -a'
alias dra='docker rm $(docker ps -aq)'

# Laravel
alias sail='bash vendor/bin/sail'

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."

# PostgreSQL
alias pgstart='brew services start postgresql'
alias pgstop='brew services stop postgresql'
alias pgrestart='brew services restart postgresql'
alias pgstatus='brew services list | grep postgres'

# Rails
alias rc='rails console -e development'
alias rdbm='rails db:migrate RAILS_ENV=development'
alias rdbrp='rails db:seed:replant'
alias rdbr='rails db:reset'

# Run Python Simple Server
alias pys='python -m SimpleHTTPServer'

# Shell
alias c='clear'
alias reload="exec ${SHELL} -l ; . ~/.zshrc"

# Spring
alias ss='spring stop'

# SSH Aliases
{{ range $key, $value := .aliases.ssh -}}
alias {{ $key }}='ssh {{ $value }}'
{{ end }}

# SSH Keys
alias gsshk='ssh-keygen -t rsa'
alias csshk='pbcopy < ~/.ssh/id_rsa.pub'

# Yarn
alias yd='yarn dev'
alias yp='yarn prod'
alias yui='yarn upgrade-interactive --latest'
